{
  "presets": ["env", "react"],
  "plugins": [
    "transform-class-properties",
    "transform-runtime",
    "transform-object-rest-spread",
    [
      "transform-react-jsx",
      {
        "pragma": "React.createElement"
      }
    ],
    "external-helpers",
    "transform-flow-strip-types",
    "syntax-flow",
    "transform-es2015-modules-commonjs"
  ]
}
